@model IEnumerable<Announcement>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <table>
        <tr>
            <th>TITLE</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        @foreach (var announcement in Model)
        {
        <tr>
            <td>@announcement.Title</td>
            <td>@announcement.StartDate</td>
            <td>@announcement.EndDate</td>
            <td class="text-center">
                <form method="post">
                    <a asp-action="EditAnnouncement" class="btn btn-sm btn-warning"
                       asp-route-Id="@announcement.ID">
                        Edit
                    </a>
                    <input type="hidden" name="ItemID" value="@announcement.ID" />
                    <button type="submit"asp-route-Id="@announcement.ID" asp-action="RemoveAnnouncement" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>

        </tr>
        }
    </table>

<a asp-action="MakeAnnouncement" class="btn btn-success">
    <span>Make New Announcement</span>
</a>

<a asp-action="Index" class="btn btn-danger">
    <span>Cancel</span>
</a>